{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>K & A Software Solution Private Limited</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>


    <!-- TOP NAVIGATION BAR-->
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/website">Website Designing & Maintenance</a></li>
                        <li><a class="dropdown-item" href="/digital">Digital Marketing</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/software">Software Development</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Insights
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/client">Client Story</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getintouch">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
            </ul>
        </div>
    </div>


    <span style="font-size:30px;cursor:pointer" onclick="openNav()">
        <h3 align="center">&#9776;<img src="{% static 'images/LOGO.png' %}" height="200px"></h3>
    </span>

    <script>
        function openNav() {
            document.getElementById("myNav").style.height = "100%";
        }

        function closeNav() {
            document.getElementById("myNav").style.height = "0%";
        }
    </script>
<br>
<!--body content-->
<!--Our clients-->
<div class="container-fluid">
    <h1 align="center" style="font-family: 'Sacramento', cursive; font-size: 40px;"><b>Our Most Satisfied Clients</b></h1>
</div>
<hr>
<br>
<br>
<div class="card-group">
    <div class="card" style="border-style: none;">
        <div class="container-fluid">
            <video src="{% static 'images/straightview.mp4' %}" playsinline autoplay muted loop class="card-img-top"
                alt="website development" style="border-radius: 400px;">
        </div>
    </div>

    <div class="card" style="border-style: none;">
        <div class="card-body" align="center">
            <h1 class="card-title" style="font-family: 'Abril Fatface', cursive; font-size: 40px;">Straight View Media</h1>
            <p class="card-text" style="font-family: 'Lobster Two', cursive; font-size: 20px;">The Straight View Media Group is India's
                most respected and diversified media conglomerate. Founded in 2020 in response to the Emergency,
                its
                entire ethos is underpinned by the central belief that an independent media is the bedrock of
                democracy.</p>
            <p class="card-text" style="font-family: 'Lobster Two', cursive; font-size: 20px;">Over 4 years, it has painstakingly built
                on this principle. Story by story. Edition by edition. Platform by platform. It has created a
                deep legacy of credibility, excellence, trust, and bi-partisanship. It is widely admired as the
                gold standard of journalism in the country. In a landscape marked by shrill polarities, it has
                only one political alignment: the Indian Constitution.
            </p>
            <p class="card-text" style="font-family: 'Lobster Two', cursive; font-size: 20px;">For over 4 years it was the undisputed
                high table of Indian journalism. It served up legendary
                stories, legendary journalists, legendary editors. It was famous for its meticulousness. It set
                the bar. It reaches
                a staggering 2 million viewers monthly and covers every discipline that impacts human affairs:
                from politics and economy to sports, satire,
                art, business, entertainment, luxury, health, weddings, technology, science, environment, sex,
                relationships, parenting, life. It is a multi-brand, multi-platform, multi-vertical media group.
                But all of its varied canvas is threaded together by one common inviolable thread: credibility &
                excellence.
            </p>
            <p class="card-text" style="font-family: 'Lobster Two', cursive; font-size: 20px;">Besides its exacting journalistic
                standards, Straight View Media Group is also distinguished by its constant innovation,
                reinvention and embrace of
                new technologies. It has an integrated, state-of-the-art newsroom which feeds editorial content
                seamlessly across its television, print, mobile, social media and digital entities, adding up to
                a massive cumulative reach.
            </p>
            <blockquote class="blockquote mb-0" align="center">
                <p class="card-text" style="font-family: 'HamletOrNot';">In keeping with its desire to impact
                    different sections of society, Straight View Media Group has also established an enviable
                    portfolio of thought leadership events.
                </p>
            </blockquote>
        </div>
    </div>
</div>
<br>
<br>
<div class="card-group">
    <div class="card" style="border-style: none;">
        <div class="card-body" align="center">
            <h1 class="card-title" style="font-family: 'Abril Fatface', cursive; font-size: 40px;"">Mangala Enterprises</h1>
            <p class="card-text" style="font-family: 'Lobster Two', cursive; font-size: 20px;">Mangala Enterprises is one of the
                prominent residential and commercial real estate developers in Northern part of India. One of
                the
                most admired and trusted brands, it has been growing from strength to strength over the
                past six years marking its presence over the skylines of Northern part of India. </p>
            <br>
            <p class="card-text" style="font-family: 'Lobster Two', cursive; font-size: 20px;"> Mangala Enterprises so far has delivered
                over 50 projects under construction and planning stages. From being prominently a residential
                developer, Mangala Enterprises has expanded its
                horizons into Commercial, Coliving, Plotted Development and other real estate verticals.
            </p>
            <p class="card-text" style="font-family: 'Lobster Two', cursive; font-size: 20px;">They operate with a belief that everyone
                deserves a better life. Over the past six years Mangala Enterprises has delivered many
                projects where thousands of happy customers reside. There projects are built to provide
                exceptional life experiences, security and value. Mangala Enterprises properties have seen the
                highest
                rate of capital appreciation and have given their customers an asset to own for life.
            </p>
            <p class="card-text" style="font-family: 'Lobster Two', cursive; font-size: 20px;">With innovation, quality, and
                sustainability at the core of their work and a unique customer centric approach has put them on
                the
                league of the best and most trusted developers in the business.
            </p>
            <blockquote class="blockquote mb-0" align="center">
                <p class="card-text" style="font-family: 'HamletOrNot';">There expertise in land
                    acquisition, understanding the customer needs, execution capabilities including the
                    appointment
                    of architects, designers, project managers along with exceptional sales and after sales
                    service
                    has helped them to be counted among the forerunners in real estate development.
                </p>
            </blockquote>
        </div>
    </div>
    <div class="card" style="border-style: none;">
        <div class="container-fluid">
            <video src="{% static 'images/mangala.mp4' %}" playsinline autoplay muted loop class="card-img-bottom"
                alt="website development" style="border-radius: 400px;">
        </div>
    </div>
</div>


<br>
<hr>
<!--Client reviews-->
<h1 align="center" style="font-family: 'Sacramento', cursive; font-size: 50px;"><b>Client Reviews</b></h1>
<br>
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card" style="border-style: none;">
                <div class="card-body">
                    <blockquote class="blockquote mb-0" align="center">
                        K & A Soft is a superb company. Friendly and easy to work with, they are always
                        quick to answer resolve and keep us up to date with the process.
                        <footer class="blockquote-footer">
                            <cite title="Source Title">
                                Mangla Enterprises, Delhi
                            </cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="border-style: none;">
                <div class="card-body">
                    <blockquote class="blockquote mb-0" align="center">
                        We were very nervous to build our first website for company and K & A helped ease
                        our anxieties at every turn. Wish I could give them more than five stars!
                        <footer class="blockquote-footer">
                            <cite title="Source Title">
                                Straight View Media, Patna
                            </cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/profile.php?id=100092858114089" class="me-4 link-grayish"><img src="{% static 'images/fbicon.jpg' %}"
            height="40px" width="40px">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/KA_Softs" class="me-4 link-grayish"><img src="{% static 'images/ticon.png' %}"
            height="40px" width="40px">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="mailto:kasoftsolution@gmail.com" class="me-4 link-grayish"><img src="{% static 'images/gicon.jpg' %}" height="40px"
            width="40px">
          <i class="fab fa-google"></i>
        </a>
        <a href="https://www.instagram.com/kasoftsolution/" class="me-4 link-grayish"><img src="{% static 'images/iicon.jpg' %}"
            height="40px" width="40px">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/company/k-a-software-solutions-pvt-ltd/" class="me-4 link-grayish"><img
            src="{% static 'images/licon.png' %}" height="40px" width="40px">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <!--badge-->


      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4" style="font-family: 'HamletOrNot';">
              <i class="fas fa-gem me-3 text-grayish"></i>K & A Software Solutions
            </h6>
            <p>
              K & A Software Solutions Private Limited is an IT company based out of India helping business in Digital
              transformation
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="font-family: 'HamletOrNot';">
              Services
            </h6>
            <p>
              <a href="/website" class="text-reset">Website Designing & Maintenance</a>
            </p>
            <p>
              <a href="/digital" class="text-reset">Digital Marketing</a>
            </p>
            <p>
              <a href="/software" class="text-reset">Software Development</a>
            </p>
            <p>
              Photo/Video Editing
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="font-family: 'HamletOrNot';">
              Useful links
            </h6>
            <p>
              <a href="/index" class="text-reset">Home</a>
            </p>
            <p>
              <a href="/client" class="text-reset">Client Reviews</a>
            </p>
            <p>
              <a href="/getintouch" class="text-reset">Contact Us</a>
            </p>
            <p>
              <a href="/about" class="text-reset">About Us</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="font-family: 'HamletOrNot';">Contact</h6>
            <p><i class="fas fa-home me-3 text-grayish"></i>17th Cross Road, NGR Layout, Roopena Agrahara, Bangalore,
              Karnataka - 560068</p>
            <p>
              <i class="fas fa-envelope me-3 text-grayish"></i>
              kasoftsolution@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-grayish"></i> + 91 - 7803065319</p>
            <p><i class="fas fa-print me-3 text-grayish"></i> + 91 - 7000152848</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="/index" style="font-family: 'HamletOrNot';">K & A Software Solutions
        Private Limited</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>

</html>
        
